@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #878787;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  /* Apply Roboto Slab to all heading tags */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-roboto-slab);
  }

  h1 {
    font-weight: bold;
    font-size: var(--text-xl);
  }

  h2 {
    font-size: var(--text-l);
    color: #878787;
  }

  /* Apply Roboto to all paragraph tags */
  p {
    font-family: var(--font-roboto);
    color: #878787;
  }

  /* Apply Roboto Slab to all buttons */
  button {
    font-family: var(--font-roboto-slab);
    font-weight: bold;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  @layer base {
    h2, p {
      color: #ffffff;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

.button-style {
  font-family: var(--font-roboto-slab);
  font-weight: bold;
}

.font-flex {
  font-family: var(--font-roboto-flex);
}

.font-slab {
  font-family: var(--font-roboto-slab);
}